<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TAccountWastebookMapper">
  <resultMap id="BaseResultMap" type="com.hrbb.loan.pos.dao.entity.TAccountWastebook">
    <id column="recordNo" jdbcType="VARCHAR" property="recordNo" />
    <result column="accountNo" jdbcType="VARCHAR" property="accountNo" />
    <result column="debitAmt" jdbcType="DECIMAL" property="debitAmt" />
    <result column="creditAmt" jdbcType="DECIMAL" property="creditAmt" />
    <result column="transactionTime" jdbcType="TIMESTAMP" property="transactionTime" />
    <result column="relativeId" jdbcType="VARCHAR" property="relativeId" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operateTime" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    recordNo, accountNo, debitAmt, creditAmt, transactionTime, relativeId, operator, 
    operateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account_wastebook
    where recordNo = #{recordNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_account_wastebook
    where recordNo = #{recordNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="Map">
    insert into t_account_wastebook (recordNo, accountNo, debitAmt, 
      creditAmt, transactionTime, relativeId, 
      operator, operateTime)
    values (#{recordNo,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{debitAmt,jdbcType=DECIMAL}, 
      #{creditAmt,jdbcType=DECIMAL}, #{transactionTime,jdbcType=TIMESTAMP}, #{relativeId,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertAccountWastebook" parameterType="Map">
    insert into t_account_wastebook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordNo != null">
        recordNo,
      </if>
      <if test="accountNo != null">
        accountNo,
      </if>
      <if test="debitAmt != null">
        debitAmt,
      </if>
      <if test="creditAmt != null">
        creditAmt,
      </if>
      <if test="transactionTime != null">
        transactionTime,
      </if>
      <if test="relativeId != null">
        relativeId,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="operateTime != null">
        operateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordNo != null">
        #{recordNo,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="debitAmt != null">
        #{debitAmt,jdbcType=DECIMAL},
      </if>
      <if test="creditAmt != null">
        #{creditAmt,jdbcType=DECIMAL},
      </if>
      <if test="transactionTime != null">
        #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relativeId != null">
        #{relativeId,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrbb.loan.pos.dao.entity.TAccountWastebook">
    update t_account_wastebook
    <set>
      <if test="accountNo != null">
        accountNo = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="debitAmt != null">
        debitAmt = #{debitAmt,jdbcType=DECIMAL},
      </if>
      <if test="creditAmt != null">
        creditAmt = #{creditAmt,jdbcType=DECIMAL},
      </if>
      <if test="transactionTime != null">
        transactionTime = #{transactionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relativeId != null">
        relativeId = #{relativeId,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operateTime = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where recordNo = #{recordNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrbb.loan.pos.dao.entity.TAccountWastebook">
    update t_account_wastebook
    set accountNo = #{accountNo,jdbcType=VARCHAR},
      debitAmt = #{debitAmt,jdbcType=DECIMAL},
      creditAmt = #{creditAmt,jdbcType=DECIMAL},
      transactionTime = #{transactionTime,jdbcType=TIMESTAMP},
      relativeId = #{relativeId,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      operateTime = #{operateTime,jdbcType=TIMESTAMP}
    where recordNo = #{recordNo,jdbcType=VARCHAR}
  </update>
</mapper>