<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TBankPropertiesMapper">
                  
    <resultMap type="com.hrbb.loan.pos.dao.entity.TBankProperties" id="messageResult">	
        <result column="seqId" property="seqId"  jdbcType="INTEGER"/>
		<result column="bankId" property="bankId"/>
		<result column="bankName" property="bankName"/>
		<result column="propName" property="propName"/>
		<result column="propValue" property="propValue"/>
		<result column="reserve" property="reserve"/>
		<result column="version" property="version"/>
	</resultMap>
	

	<select id="selectBy" parameterType="java.lang.String" resultMap="messageResult">
		select 
		seqId,bankId,bankName,propName,propValue
		from t_bank_properties
		where propName = #{propName}
	</select>
	
	<select id="selectByBankName" parameterType="java.lang.String" resultMap="messageResult">
		select 
		seqId,bankId,bankName,propName,propValue
		from t_bank_properties
		where bankName = #{bankName}
	</select>
	
	<select id="selectByBankId" parameterType="java.lang.String" resultMap="messageResult">
		select 
		seqId,bankId,bankName,propName,propValue
		from t_bank_properties
		where bankId = #{bankId}
	</select>
	
	<select id="selectByVersion" parameterType="java.lang.String" resultType="Map">
		select 
		bankId as bankno,bankName as bankname,propValue as maxcapi
		from t_bank_properties
		where version is not null and version = #{version}
	</select>
</mapper>