<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TCreditReportNormalMapper" >
  <resultMap id="BaseResultMap" type="com.hrbb.loan.pos.dao.entity.TCreditReportNormal" >
    <id column="reportNo" property="reportNo" jdbcType="VARCHAR" />
    <result column="financeCorps" property="financeCorps" jdbcType="INTEGER" />
    <result column="financeOrgs" property="financeOrgs" jdbcType="INTEGER" />
    <result column="accounts" property="accounts" jdbcType="INTEGER" />
    <result column="creditLimit" property="creditLimit" jdbcType="DECIMAL" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="avgAmt6m" property="avgAmt6m" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    reportNo, financeCorps, financeOrgs, accounts, creditLimit, balance, avgAmt6m
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_credit_report_normal
    where reportNo = #{reportNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_credit_report_normal
    where reportNo = #{reportNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hrbb.loan.pos.dao.entity.TCreditReportNormal" >
    insert into t_credit_report_normal (reportNo, financeCorps, financeOrgs, 
      accounts, creditLimit, balance, 
      avgAmt6m)
    values (#{reportNo,jdbcType=VARCHAR}, #{financeCorps,jdbcType=INTEGER}, #{financeOrgs,jdbcType=INTEGER}, 
      #{accounts,jdbcType=INTEGER}, #{creditLimit,jdbcType=DECIMAL}, #{balance,jdbcType=DECIMAL}, 
      #{avgAmt6m,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hrbb.loan.pos.dao.entity.TCreditReportNormal" >
    insert into t_credit_report_normal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportNo != null" >
        reportNo,
      </if>
      <if test="financeCorps != null" >
        financeCorps,
      </if>
      <if test="financeOrgs != null" >
        financeOrgs,
      </if>
      <if test="accounts != null" >
        accounts,
      </if>
      <if test="creditLimit != null" >
        creditLimit,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="avgAmt6m != null" >
        avgAmt6m,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportNo != null" >
        #{reportNo,jdbcType=VARCHAR},
      </if>
      <if test="financeCorps != null" >
        #{financeCorps,jdbcType=INTEGER},
      </if>
      <if test="financeOrgs != null" >
        #{financeOrgs,jdbcType=INTEGER},
      </if>
      <if test="accounts != null" >
        #{accounts,jdbcType=INTEGER},
      </if>
      <if test="creditLimit != null" >
        #{creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="avgAmt6m != null" >
        #{avgAmt6m,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  <insert id="insertSelectiveMap" parameterType="map" >
    insert into t_credit_report_normal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reportNo != null" >
        reportNo,
      </if>
      <if test="financeCorps != null" >
        financeCorps,
      </if>
      <if test="financeOrgs != null" >
        financeOrgs,
      </if>
      <if test="accounts != null" >
        accounts,
      </if>
      <if test="creditLimit != null" >
        creditLimit,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="avgAmt6m != null" >
        avgAmt6m,
      </if>
       <if test="queryId != null">
      	queryId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reportNo != null" >
        #{reportNo,jdbcType=VARCHAR},
      </if>
      <if test="financeCorps != null" >
        #{financeCorps,jdbcType=INTEGER},
      </if>
      <if test="financeOrgs != null" >
        #{financeOrgs,jdbcType=INTEGER},
      </if>
      <if test="accounts != null" >
        #{accounts,jdbcType=INTEGER},
      </if>
      <if test="creditLimit != null" >
        #{creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="avgAmt6m != null" >
        #{avgAmt6m,jdbcType=DECIMAL},
      </if>
       <if test="queryId != null">
      	#{queryId},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.hrbb.loan.pos.dao.entity.TCreditReportNormal" >
    update t_credit_report_normal
    <set >
      <if test="financeCorps != null" >
        financeCorps = #{financeCorps,jdbcType=INTEGER},
      </if>
      <if test="financeOrgs != null" >
        financeOrgs = #{financeOrgs,jdbcType=INTEGER},
      </if>
      <if test="accounts != null" >
        accounts = #{accounts,jdbcType=INTEGER},
      </if>
      <if test="creditLimit != null" >
        creditLimit = #{creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="avgAmt6m != null" >
        avgAmt6m = #{avgAmt6m,jdbcType=DECIMAL},
      </if>
    </set>
    where reportNo = #{reportNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrbb.loan.pos.dao.entity.TCreditReportNormal" >
    update t_credit_report_normal
    set financeCorps = #{financeCorps,jdbcType=INTEGER},
      financeOrgs = #{financeOrgs,jdbcType=INTEGER},
      accounts = #{accounts,jdbcType=INTEGER},
      creditLimit = #{creditLimit,jdbcType=DECIMAL},
      balance = #{balance,jdbcType=DECIMAL},
      avgAmt6m = #{avgAmt6m,jdbcType=DECIMAL}
    where reportNo = #{reportNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByQueryId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_credit_report_normal
    where queryId = #{queryId,jdbcType=VARCHAR}
  </select>
</mapper>